{% extends 'base.html.twig' %}

{% block body_id 'forgot_password' %}

{% block main %}
    <div class="row">
        <div class="col-sm-6 offset-md-3">
            <div class="well">
                <form action="{{ path('security_forgot_password') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'security.forgot_password.title'|trans }}</legend>
                        <div class="form-group">
                            <label for="username">{{ 'label.username'|trans }}</label>
                            <input type="text" id="username" name="_username" class="form-control" />
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'security.forgot_password.send'|trans }}
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
